body {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size:14px;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    background: #F5F1EE;
  }


p{  margin-left: 30px;
    color: #F5F1EE;
    font-size:18px;

}

.div-h1{
    text-align: center;
}

.info{
        color: #F5F1EE;
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        margin-left: 550px;
        width: 600px;
        height: 450px;
        background: #1F2434;
        border-radius: 18px;
        box-shadow: 0 0 25px  rgba(71, 71, 71, 0.5);
}

.classes{
        color: #F5F1EE;
        display: flex;
        margin-left: 250px;
        flex-direction: column;
        margin-top: 50px;
        width: 1200px;
        height: 800px;
        background: #1F2434;
        border-radius: 18px;
        box-shadow: 0 0 25px  rgba(71, 71, 71, 0.5);
}